.sidebar {
  display: flex;
  /* width: 400px;
  height: 800px; */
  background-color: white;
}
.custom {
  font-size: 40px;
  margin-left: 70px;
  margin-top: 10px;
  color: #0984e3;
}

.customhome {
  font-size: 30px;
}
.main {
  margin-left: 30px;
  border-radius: 50px;
}
.customtweet {
  border-radius: 50px;
  margin-left: 0px;
}
.d-flex {
  margin-left: 40px;
}
.custommorebtn {
  border-radius: 50px;
  background-color: transparent;
  color: black;
  border-style: none;
  outline: none;
  width: 230px;
  height: 50px;
}
.custommorebtn:hover {
  background-color: #ced6e0;
}
.custommorebtn {
  border-radius: 50px;
  color: black;
  font-size: 22px;
  margin-left: -8px;
}
.elipse {
  margin-left: -60px;
}
.dropdown-menu {
  min-width: 16rem;
}
.customdropdown {
  font-size: large;
}
.custommore {
  font-size: 20px;
}

.custommore:hover {
  background-color: #ced6e0;
}
.profile:hover {
  background-color: #ced6e0;
  height: 60px;
  border-radius: 50px;
}
